<form style="float: right; margin-right: 45%;" [formGroup]="RegisterForm" (ngSubmit)="onSubmit()">
    
    <div>
      <mat-form-field appearance="fill">
        <mat-label>First Name</mat-label>
        <input
          matInput
          type="text"
          class="inputHeight"
          matInput
          formControlName="firstName"
        />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Last Name</mat-label>
        <input
          type="text"
          class="inputHeight"
          matInput
          formControlName="lastName"
        />
      </mat-form-field>
    </div>
    <div>
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input
            type="text"
            class="inputHeight"
            matInput
            formControlName="email"
          />
        </mat-form-field>
      </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input
          type="password"
          class="inputHeight"
          matInput
          formControlName="password"
        />
      </mat-form-field>
    </div>
  
    <div>
      <button class="mt-1" type="submit" mat-raised-button color="primary">
        Register
      </button>
    </div>
  </form>