<div>
  <mat-card>
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>{{ownedProperty.propertyName}}</mat-card-title>
        <mat-card-subtitle style="font-size: larger;">
            <h2 style="width: max-content; height: fit-content;">Value: {{ownedProperty.propertyPrice|currency}}</h2>
        </mat-card-subtitle><mat-card-subtitle style="font-size: larger;">
            <h2 style="width: max-content; height: fit-content;">Yield: {{ownedProperty.yield|currency}}</h2>
        </mat-card-subtitle><mat-card-subtitle style="font-size: larger;">
            <h2 style="width: max-content; height: fit-content;">Amortization Period:
                {{(ownedProperty.priceYieldRatio/12).toFixed(2) +'  Years'}}</h2>
        </mat-card-subtitle><mat-card-subtitle style="font-size: larger;">
            <h2 style="width: max-content; height: fit-content;">Yield On Investment:
                {{(100/ownedProperty.priceYieldRatio).toFixed(2) +'%'}}</h2>
        </mat-card-subtitle>
        <img  mat-card-lg-image  *ngIf="propertyPhoto"[src]="propertyPhoto.url">
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>

    </mat-card-content>
  </mat-card>
</div>
