<div class="container ml-5">
  <form [formGroup]="PropertyForm" (ngSubmit)="onSubmit()">
    <mat-tab-group [(selectedIndex)]="selectedIndex" style="height: 600px;">
      <mat-tab label="Basic Info">
        <ng-container *ngTemplateOutlet="BasicInfoContent"></ng-container>
      </mat-tab>
      <mat-tab label="Pricing and Area" [disabled]="false">
        <ng-container *ngTemplateOutlet="PricingAndArea"></ng-container>
      </mat-tab>
      <mat-tab label="Address">
        <ng-container *ngTemplateOutlet="Address"></ng-container>
      </mat-tab>
      <mat-tab label="Photos">
        <ng-container *ngTemplateOutlet="Photos"></ng-container>
      </mat-tab>
    </mat-tab-group>
  </form>

</div>


<ng-template [formGroup]="PropertyForm" #BasicInfoContent>
  <div  class="col-8 mt-4" >
    <div class="row">
      <h2 >Title*</h2>
      <mat-form-field>
        <input matInput type="text" placeholder="Property Title" formControlName="propertyName">
      </mat-form-field>
    </div>
    <div class="row">
      <h2 >I want to*</h2>
      <app-property-listing-type-dropdown (PropertyListingTypeID)="onListingTypeChange($event)">
      </app-property-listing-type-dropdown>
    </div> <div class="row">
      <h2 >Type of Property*</h2>
      <app-property-type-dropdown (PropertyTypeID)="onTypeChange($event)">
      </app-property-type-dropdown>
    </div>
    <div class="row">
      <h2 >Bedroom(s)*</h2>
      <mat-form-field style="width: 28%;">
        <input matInput required type="number" formControlName="bedroomCount" type="number" min="0" max="20" onkeypress="return false"
          ondragStart="return false" onselectstart="return false" oncut="return false" oncopy="return false"
          onpaste="return false" ondrag="return false" ondrop="return false" autocomplete="off">
        
      </mat-form-field>
    </div>
    <div class="row">
      <h2 >Bathroom(s)*</h2>
      <mat-form-field style="width: 28%;">
        <input matInput required type="number" formControlName="bathroomCount" type="number" min="0" max="20" onkeypress="return false"
          ondragStart="return false" onselectstart="return false" oncut="return false" oncopy="return false"
          onpaste="return false" ondrag="return false" ondrop="return false" autocomplete="off">
        
      </mat-form-field>
    </div>
    <div class="row">
      <h2 >Balcony*</h2>
      <mat-radio-group class="mb-3" required formControlName="balcony">
        <mat-radio-button [value]=false>No</mat-radio-button>
        <mat-radio-button [value]=true>Yes</mat-radio-button>
      </mat-radio-group>
    </div>
    <div class="row">
      <h2 >Heat System*</h2>
      <app-heat-systems-dropdown (heatSystemsValueChange)="onHeatSystemsChange($event)"></app-heat-systems-dropdown>
    </div>
    <div class="row">
      <h2>Builded Year</h2>
      <mat-form-field style="width: 28%;">
        <mat-label>Builded Year</mat-label>
    <mat-select formControlName="buildedYear">
        <mat-option *ngFor="let year of yearList" [value]="year">{{year}}</mat-option>
    </mat-select>
      </mat-form-field>
    </div>
    <div class="row">
        <h2 >Floor</h2>
        <mat-form-field style="width: 28%;">
            <input matInput required type="number" formControlName="floor" min="0" >
          </mat-form-field>
    </div>
    <div class="row">
        <h2>Building Floors</h2>
        <mat-form-field style="width: 28%;">
          <input matInput required type="number" formControlName="price" min="0" >
        </mat-form-field>
    </div>
    
    <div class="row">
      <h2 >Description</h2>
      <mat-form-field style="width: 75%; height: 200%;">
        <textarea matInput cdkTextareaAutosize placeholder="Description..." formControlName="description"></textarea>
      </mat-form-field>
      <button mat-button [disabled]="!IsBasicFormValid" (click)="selectedIndex=selectedIndex+1" style="width: 20%;">Next</button>
    </div>
    
  </div>
</ng-template>
<ng-template [formGroup]="PropertyForm" #PricingAndArea>
  <div class="col-8 mt-4">
    <div class="row">
      <h2 *ngIf="currentPropertyListingType.toLowerCase()==='sale'" >I want to sell for ($)*</h2>
      <h2 *ngIf="currentPropertyListingType.toLowerCase()==='rent'" >I want to rent out for ($)*</h2>
      <h2 *ngIf="currentPropertyListingType.toLowerCase()==='other'" >Price ($)*</h2>
      <mat-form-field style="width: 28%;">
        <input matInput required type="number" placeholder="Price" formControlName="price">
      </mat-form-field>
    </div>
    <div class="row">
      <h2>Dues ($)*</h2>
      <mat-form-field style="width: 28%;">
        <input matInput required type="number" placeholder="Dues" formControlName="Dues">
      </mat-form-field>
    </div>
    <div class="row">
      <h2 >Gross Area m²*</h2>
      <mat-form-field style="width: 28%;">
        <input matInput required type="number" placeholder="Ex: 100" formControlName="grossArea">
      </mat-form-field>
    </div>
     <div class="row">
      <h2 >Net Area m²*</h2>
      <mat-form-field style="width: 28%;">
        <input matInput required type="number" placeholder="Ex: 100" formControlName="netArea">
      </mat-form-field>
    </div>
    <div class="row" >
      <section class="mb-2">
        <div class="example-button-row">
        <button mat-raised-button (click)="selectedIndex=selectedIndex-1">Back</button>
        <button mat-raised-button [disabled]="!true" (click)="selectedIndex=selectedIndex+1">Next</button>
      </div>
      </section>

    </div>
    
  </div>
</ng-template>
<ng-template [formGroup]="PropertyForm" #Address></ng-template>
<ng-template #Photos></ng-template>


