<form
[formGroup]="FilterForm"
(ngSubmit)="Submit()">
<mat-toolbar style="height: fit-content; ;">
  <div class="col-3" style="margin-left:8%">
    <mat-form-field>
      <mat-label>Property Name</mat-label>
      <input matInput type="text" formControlName="propertyName">
    </mat-form-field>
    <button style="margin-left: 5%; height: 45px;" mat-raised-button color="primary">Search Property</button>
  </div>
  <div class="col-8">

 
 <mat-accordion class="example-headers-align" multi>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Filter Properties
      </mat-panel-title>
      
    </mat-expansion-panel-header>

    <div class="col-4">
     
      
    <mat-form-field>
      <mat-label>Min Price</mat-label>
      <input
        matInput
        type="number"
        formControlName="minPrice"
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Max Price</mat-label>
      <input
        matInput
        type="number"
        matInput
        formControlName="maxPrice"
      />
    </mat-form-field>
      <app-property-type-dropdown (PropertyTypeID)="onTypeChange($event)"></app-property-type-dropdown>
    
      <app-property-listing-type-dropdown (PropertyListingTypeID)="onListingTypeChange($event)"></app-property-listing-type-dropdown>

    </div>
    <div class="col-4">
    <mat-form-field>
      <mat-label>City</mat-label>
      <input matInput
      formControlName="city">
    </mat-form-field>
<mat-form-field>
      <mat-label>District</mat-label>
      <input matInput
      formControlName="district">
    </mat-form-field>
<mat-form-field>
      <mat-label>Quarter</mat-label>
      <input matInput
      formControlName="quarter">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Bedroom(s)</mat-label>
      <input
      matInput
      formControlName="bedroomCount"
      type="number"
      min="0"
      max="20"
      onkeypress="return false" 
      ondragStart="return false"
      onselectstart="return false"       
      oncut="return false"
      oncopy="return false"
      onpaste="return false" 
      ondrag="return false"
      ondrop="return false" 
      autocomplete="off">

    </mat-form-field>
    </div>

    <div>
      <label>Balcony:</label>
      <mat-radio-group formControlName="balcony">
        <mat-radio-button value=false>No</mat-radio-button>
        <mat-radio-button value=true>Yes</mat-radio-button>
      </mat-radio-group>
    </div>

  </mat-expansion-panel>
</mat-accordion>
     </div>
  </mat-toolbar>
  

</form>

