<mat-toolbar class="row">
    <div class="col-2">
      <span  style="float: right;" class="clickable" routerLink="/main-page"
        >Real Estate</span>
    </div>
    <div class="col-9">
      <ng-container
        *ngTemplateOutlet="LoggedIn() ? LoggedInItems : LoggingItems"
      ></ng-container>
    </div>
</mat-toolbar>

<ng-template #LoggingItems>
  <div style="float: right;">
    <span routerLink="login">Login </span>
  <i>|</i>
  <span routerLink="register"> Register</span>
  </div>
  
</ng-template>

<ng-template #LoggedInItems>
  <div *ngIf="User" style="float: right;">
   <span style="font-size: larger;" [matMenuTriggerFor]="menu" >{{User|userName}}</span> 
  </div>
</ng-template>

<mat-menu #menu="matMenu">
  <button *ngIf="User" mat-menu-item [routerLink]="'profile/'+User.userID">
    <mat-icon>list</mat-icon>
    <span>My Listings</span>
  </button>
  
  <button *ngIf="User" [routerLink]="'portfolio/'+User.userID" mat-menu-item>
    <mat-icon> pie_chart</mat-icon>
    <span >Portfolio</span>
  </button>
  <button (click)="Logout()" mat-menu-item>
    <mat-icon>exit_to_app</mat-icon>
    <span>Logout</span>
  </button>
</mat-menu>